@inject IAppInfo appInfo

<div class="@alertStyle">
	<div class="card-text p-3">
		<p>
			<span class="oi oi-pencil me-2" aria-hidden="true" style="display: inline;"></span>
			<strong>@Title</strong>
		</p>
	</div>
</div>

@code {
	// Demonstrates how a parent component can supply parameters
	[Parameter]
	public string? Title { get; set; }

	private string? alertStyle;

	protected override void OnInitialized()
	{
		alertStyle = appInfo.RequestedTheme switch
		{
			AppTheme.Dark => "card bg-dark text-white mt-3",
			_ => "card bg-light text-dark mt-3"
		};
	}
}
